deepvideoclassification/.ipynb_checkpoints/
deepvideoclassification/__pycache__/
scripts/nohup.out
data/*
models/*
old_models/*
results/*
cache/*
*.log
*.out
nohup.out
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/
tensorboard/
cache_seals/
data_seals/
cache_penguins/
data_penguins/
videos/
penguin_label_timestamps.csv
checksums.csv
.DS_Store
notebooks/.DS_Store
notebooks/start_workers.sh
